* {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

body {
  max-width: 1920px;
  font-family: “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #333;
}

.wrap {
  overflow: hidden;
}

/* 共通ヘッダー */

h1 {
  letter-spacing: 4px;
}

a {
  text-decoration: none;
  color: #333;
}

.header__common {
  max-width: 1920px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* ヘッダー固定 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s;
  background: #fff;
  z-index: 10;
}

.header__common__left {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  margin-right: 90px;
}




.header__common__left__img {
  width: 40px;
  height: 40px;
  padding: 0 15px 0 0px;
}


.header__common__nav {
  display: flex;
  list-style: none;
}

.header__common__nav__list {
  list-style: none;
  padding: 0 0 0 30px;
}

.header__common__nav__list__link {
  text-decoration: none;
  color: #333;
}

.header__common__right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  height: 54px;
  background-color: #978F10;
  margin: 0 20px 0 0;
  color: #fff;
}

.header__common__right__img {
  padding: 0 10px 0 0;
}


/* モーダル */
#modal {
  background: #fff;
  width: 550px;
  height: 600px;
  padding: 29px 0 0 0;
  position: absolute;
  top: 242px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: transform 0.7s;
  z-index: 2;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -900px);
}

.modal__title {
  font-size: 20px;
  line-height: 1.7;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #E7E7E7;
  margin: 0 0 22px 0;
  text-align: center;
}

#mask {
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#open {
  cursor: pointer;
  color: #fff;
}

#close {
  position: absolute;
  top: 20px;
  right: 22px;
  cursor: pointer;
}

#submit {
  cursor: pointer;
  width: 198px;
  border: 1px solid #707070;
  text-align: center;
  font-size: 16px;
  line-height: 42px;
  height: 42px;
  margin: 0 auto;
}

form {
  width: 430px;
  margin: 0 auto;
}

input {
  width: 420px;
}

label {
  font-size: 16px;
  line-height: 1.7;
  padding: 9px 0 9px 0;
  display: inline-block;
}

.modal__name__text,
.modal__email__text,
.modal__plan__text,
.flatpickr {
  font-size: 14px;
  line-height: 1.7;
  color: #797878;
  padding: 4px 0 4px 10px;
  border: 1px solid #E7E7E7;
}

.flatpickr {
  margin: 0 0 73px 0;
}


/* ハンバーガーアイコンー */
#menu {
  display: none;
}

#menu.hide {
  opacity: 0;
  /* アイコンをクリック後、透明にする */
}

.hamberger_menu {
  height: 48px;
  line-height: 48px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 11;
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay li {
  margin-top: 10px;
  list-style: none;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay a {
  text-decoration: none;
  color: #333;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

#tojiru {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 32px;
  cursor: pointer;
}

/* お部屋 */

.fv__room {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  background-image: url(img/oheya-header.png);
}

.fv__room__inner {
  color: #fff;
  font-size: 34px;
  text-align: center;
  align-items: center;
  line-height: 500px;
}

.room {
  padding: 36px 0 0 0;
  max-width: 1180px;
  margin: 0 auto;
}

.room__p1 {
  font-size: 16px;
  line-height: 2;
}

.room__p1>a {
  text-decoration: none;
  color: #333;
}

.room__p2 {
  font-size: 16px;
  line-height: 2;
  text-align: center;
  padding: 98px 0 78px 0;
}


.room__about {
  position: relative;
  height: 438px;
  margin: 0 0 141px 0;
}

.room__img {
  max-width: 525px;
  height: 300px;
}

.room__right {
  max-width: 813px;
  height: 381px;
  background-image: url(img/bg.png);
  position: absolute;
  top: 57px;
  left: 367px;
  z-index: -1;
}

.room__right__title {
  font-size: 24px;
  line-height: 1.3;
  padding: 60px 0 52px 238px;
}

.room__right__p {
  font-size: 16px;
  line-height: 2;
  padding: 0 0 52px 238px;
}

.room__right__text {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 0 0 244px;
}

.room__about2_1 {
  position: relative;
  height: 464px;
}

.room__left {
  width: 813px;
  height: 381px;
  background-image: url(img/bg.png);
}

.room__left__title {
  font-size: 24px;
  line-height: 1.3;
  padding: 60px 0 52px 60px;
}

.room__left__p {
  font-size: 16px;
  line-height: 2;
  padding: 0 0 52px 60px;
}

.room__left__text {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 0 0 60px;
}

.room__img2_1 {
  width: 525px;
  height: 300px;
  position: absolute;
  right: 0;
  top: -57px;
}

.room__img2_2,
.ryori__img2_2,
.onsen__img2_2 {
  width: 525px;
  height: 300px;
}

.room__about2_2,
.ryori__about2_2,
.onsen__about2_2 {
  display: none;
}



/* 料理 */
.fv__ryori {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  background-image: url(img/menu-header.png);
}

.fv__ryori__inner {
  color: #fff;
  font-size: 34px;
  text-align: center;
  align-items: center;
  line-height: 500px;
}

.ryori {
  padding: 36px 0 0 0;
  max-width: 1180px;
  margin: 0 auto;
}

.ryori__p1 {
  font-size: 16px;
  line-height: 2;
}

.ryori__p2 {
  font-size: 16px;
  line-height: 2;
  text-align: center;
  padding: 98px 0 78px 0;
}


.ryori__about {
  position: relative;
  height: 438px;
  margin: 0 0 141px 0;
}

.ryori__img {
  width: 525px;
  height: 300px;
}

.ryori__right {
  max-width: 813px;
  height: 381px;
  background-image: url(img/bg.png);
  position: absolute;
  top: 57px;
  left: 367px;
  z-index: -1;
}

.ryori__right__title {
  font-size: 24px;
  line-height: 1.3;
  padding: 60px 0 52px 238px;
}

.ryori__right__p {
  font-size: 16px;
  line-height: 2;
  padding: 0 0 52px 238px;
}

.ryori__about2_1 {
  position: relative;
  height: 464px;
}

.ryori__left {
  width: 813px;
  height: 381px;
  background-image: url(img/bg.png);
}

.ryori__left__title {
  font-size: 24px;
  line-height: 1.3;
  padding: 60px 0 52px 60px;
}

.ryori__left__p {
  font-size: 16px;
  line-height: 2;
  padding: 0 0 52px 60px;
}

.ryori__img2_1 {
  width: 525px;
  height: 300px;
  position: absolute;
  right: 0;
  top: -57px;
}


/* 温泉 */

.fv__onsen {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  background-image: url(img/onsen-header.png);
}

.fv__onsen__inner {
  color: #fff;
  font-size: 34px;
  text-align: center;
  align-items: center;
  line-height: 500px;
}

.onsen {
  padding: 36px 0 0 0;
  max-width: 1180px;
  margin: 0 auto;
}

.onsen__p1 {
  font-size: 16px;
  line-height: 2;
}

.onsen__p2 {
  font-size: 16px;
  line-height: 2;
  text-align: center;
  padding: 98px 0 78px 0;
}

.onsen__about {
  position: relative;
  height: 438px;
  margin: 0 0 141px 0;
}

.onsen__img {
  width: 525px;
  height: 300px;
}

.onsen__right {
  max-width: 813px;
  height: 381px;
  background-image: url(img/bg.png);
  position: absolute;
  top: 57px;
  left: 367px;
  z-index: -1;
}

.onsen__right__title {
  font-size: 24px;
  line-height: 1.3;
  padding: 60px 0 52px 238px;
}

.onsen__right__p {
  font-size: 16px;
  line-height: 2;
  padding: 0 0 52px 238px;
}

.onsen__right__text {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 0 0 244px;
}

.onsen__about2_1 {
  position: relative;
  height: 464px;
}

.onsen__left {
  width: 813px;
  height: 381px;
  background-image: url(img/bg.png);
}

.onsen__left__title {
  font-size: 24px;
  line-height: 1.3;
  padding: 60px 0 52px 60px;
}

.onsen__left__p {
  font-size: 16px;
  line-height: 2;
  padding: 0 0 52px 60px;
}

.onsen__left__text {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 0 0 60px;
}

.onsen__img2_1 {
  width: 500px;
  height: 300px;
  position: absolute;
  right: 0;
  top: -57px;
}

.onsen__about3 {
  max-width: 1180px;
  margin-top: 73px;
  margin-bottom: 74px;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}

.onsen__about3__wrap {
  max-width: 880px;
  margin: 0 auto;
}

.onsen__about3__title {
  font-size: 26px;
  text-align: center;
  padding: 96px 0 52px 0;
}

dl {
  position: relative;
  margin-bottom: 74px;
  margin-right: 5px;
  margin-left: 5px;
}

dt {
  font-size: 15px;
  line-height: 2.1;
  position: absolute;
  padding: 9px 0;
}

dd {
  font-size: 15px;
  line-height: 2.1;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 190px;
}


.onsen__about3__kounou {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;

}

.info {
  max-width: 1920px;
  padding: 64px 0 61px 0;
  background-image: url(img/bg3.png);
}

.info__menu {
  writing-mode: vertical-rl;
  width: 160px;
  margin: 0 auto;
}

.info__menu__list {
  list-style: none;
}

.info__menu__list__link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 15px;
  padding: 0 10px 96px 10px;
  display: inline-block;
}


.info__title__wrap {
  text-align: center;
}

.info__title {
  letter-spacing: 5px;
}

.info__title>a {
  text-decoration: none;
  color: #333;
}

.info__address {
  text-align: center;
}

.info__address__text {
  font-size: 16px;
  line-height: 3;
}

.info__address__text__inner {
  padding-right: 20px;
}

footer {
  max-width: 1920px;
  height: 60px;
  background-color: black;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  line-height: 60px;
  text-align: center;
  align-items: center;
}

footer>a {
  text-decoration: none;
  color: #fff;
}
